
@{
    ViewData["Title"] = "Add";
}

@section css
    {
    <style type="text/css">

        h1 {
            color:green;
        }
        label {
            color:orangered
        }
        button{
            color : purple;
            background-color :lightslategray;
            
        }
    </style>
    }

    @model Product

<h1>ÜRÜN EKLEME</h1>

<div asp-validation-summary="All"></div>

@* datayı saveproducta göndermek içinformun içine tag helperlar yazdım*@
<form asp-controller="Products" asp-action="Add" method="post" enctype="multipart/form-data">
   @* id tanımlaması yapmadım çünkü id ile backend te bir taxtbox yakalayamam. bu yüzden mutlaka name attributu kullanmalıyım*@

   <div class="mb-3">
       <label asp-for="Name" class="form-label">Ürün ismi :</label>
       <input class="form-control" asp-for="Name">
      @*  @Html.ValidationMessageFor(x => x.Name, "*Bu alanı doldurmak zorunludur", new { @style = "color:red" })*@
       <span class="text-danger" asp-validation-for="Name"></span> @*required validation için bir uyarı mesajı eklendi*@
   </div>
   
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün fiyat : </label>
        <input class="form-control" asp-for="Price">
        @*  @Html.ValidationMessageFor(x => x.Name, "*Bu alanı doldurmak zorunludur", new { @style = "color:red" })*@
       <span class="text-danger" asp-validation-for="Price"></span> @*required validation için bir uyarı mesajı eklendi*@
    </div>

    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Stock bilgisi :</label>
        <input type="number" class="form-control" asp-for="Stock">
        @*  @Html.ValidationMessageFor(x => x.Name, "*Bu alanı doldurmak zorunludur", new { @style = "color:red" })*@
       <span class="text-danger" asp-validation-for="Stock"></span> @*required validation için bir uyarı mesajı eklendi*@
    </div>

    <div class="mb-3">
       @* <label asp-for="Color" class="form-label">Renk bilgisi</label>
        <input class="form-control" asp-for="Color">*@
        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
        <option value="">Renk seçiniz</option>
            @*  @Html.ValidationMessageFor(x => x.Name, "*Bu alanı doldurmak zorunludur", new { @style = "color:red" })*@
       <span class="text-danger" asp-validation-for="Color"></span> @*required validation için bir uyarı mesajı eklendi*@
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Width" class="form-label">Genişlik :</label>
        <input class="form-control" asp-for="Width">
         <span class="text-danger" asp-validation-for="Width"></span>
    </div>

    <div class="mb-3">
        <label for="Height" class="form-label">Yükseklik :</label>
        <input class="form-control" asp-for="Height">
          <span class="text-danger" asp-validation-for="Height"></span>
    </div>


    <div class="mb-3">
       
        <select class="form-select" asp-for="CategoryId" asp-items="@ViewBag.categorySelect">
            <option value="">Kategori seçiniz</option>
          
            <span class="text-danger" asp-validation-for="CategoryId"></span> 

        </select>
    </div>


   <div class="mb-3">
        <label for="formfilelg" class="form-label">ürün resim</label>
        <input class="form-control form-control-lg" asp-for="Image" type="file" />
    </div>

    <div class="form-check mb-3" >

        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">Yayınlansın mı?</label>
        <br />
        <div class="mb-3">
            <label asp-for="PublishDate" class="form-label">Ürün yayın tarihi :</label>
            <input class="form-control" asp-for="PublishDate">
        </div>
       
        <div class="mb-3 mt-3"> @*yukardan ve aşağıdan boşluk bıraktım*@
            <span>Ürünün kaç ay satışta kalmasını istersiniz?</span>
        </div>

        @foreach (var item in ViewBag.Expire as List<string>)
        {

            <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Expire" value="@item">
            <label class="form-check-label" for="flexRadioDefault1">@item</label>
            </div>

        }
        </div>
        <br />

          <div class="form-floating mb-3">            
        <label asp-for="Description">ürün açıklama</label>
        <textarea asp-for="Description" class="form-control" placeholder="ürün açıklaması" style="height:100px"></textarea>
       
    </div>

    <button class ="btn btn-primary" type="submit">ÜRÜN KAYDET</button>
    
</form>
@section Scripts
{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}