
@{
    ViewData["Title"] = "Index";
}
@section css
    {
    <style type="text/css">

        h1 {
            color: red;          
        }
        a {
            color : red;
        }
        th {
            color :rebeccapurple;
        }
        table {
            background-color :aqua;
        }
    </style>
}

@model List<Product>

<h1>ÜRÜNLER</h1>

@if(TempData["status"]!=null)
{
    <div class="alert alert-primary" role="alert">
    @TempData["status"]
    </div>
}
<a asp-controller="products" asp-action="add">ÜRÜN EKLE</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stock</th>
            <th>Color</th>
            <th>Width</th>
            <th>Height</th>
            <th>İşlem</th>
           
        </tr>
    </thead>

    <tbody>
    @foreach( var item in Model)

    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.Color</td>
            <td>@item.Width</td>
            <td>@item.Height</td>
            
                <td><a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">SİL</a></td>
                <td><a asp-controller="products" asp-action="update" asp-route-id="@item.Id">GÜNCELLE</a></td>
        </tr>
    }
    </tbody>
</table>
